<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="/deals">All Deals</a> <span class="divider">></span>
      </li>
      <li>
        <a href="/stores/<%= @store.id %>/deals"><%= @store.name %></a>&nbsp;Product
      </li>
      <% if !@category.nil? %>
          <span class="divider">></span><li><a href="/categories/<%= @category.id %>/deals"><%= @category.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span10">
    <div class="row">
      <div class="span3">
        <div class="imgbox">
          <img src="<%= @deal.image %>" alt="" title="" style="width: 200px;height: 200px;">
        </div>
      </div>
      <div class="span7">
        <h3><a href=""><%= @deal.title %></a></h3>

        <p><h4>Description:</h4>
        <% require 'iconv' %>
        <% converter = Iconv.new 'UTF-8//IGNORE', 'UTF-8'
           value = converter.iconv(@deal.description_pure) %>
        <%= value %>
        </p>

        <h4>Categories:</h4>

        <p>
          <% @categories.each { |c| %>
              <span class="label"><%= c.name %></span>
          <% } %>
        </p>

        <p><h4>Stores:</h4>
        <span class="label"><%= @deal.store.name %></span>
        </p>

        <p><i class="icon-time"></i>&nbsp;<%= time_ago_in_words(@deal.pubDate) %> ago -
          <span style="color: #369BD7;"><%= @deal.source %></span>
          &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-large" href="<%= @deal.location %>" target="_blank"><i class="icon-shopping-cart icon-white"></i>
          Go Deals &raquo;</a></p>
      </div>
    </div>
    <section class="row">
      <div class="span10">
        <div class="tabbable" style="margin-bottom: 18px;">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><%= @deal.store.name %></a></li>
            <% @categories_deals.each_key { |d| %>
                <li><a href="#<%= d.id %>" data-toggle="tab"><%= d.name %></a></li>
            <% } %>
          </ul>
          <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
            <div class="tab-pane active" id="tab1">
              <ul class="thumbnails">
                <% @store_deals.each { |d| %>
                    <li class="span2">
                      <div class="thumbnail">
                        <a href="/deals/<%= d.id %>"><img src="<%= d.image %>" alt="" title="" class="image_list"></a>

                        <div class="caption">
                          <h5><a href="/deals/<%= d.id %>"><%= truncate(d.title, :length => 15) %></a></h5>
                        </div>
                      </div>
                    </li>
                <% } %>
                <% if @store_deals.size == 15 %>
                    <li class="span10"><p class="pull-right"><a class="btn btn-primary btn-small" href="/stores/<%= @store.id %>/deals">More Deals</a></li>
                <% end %>
              </ul>
            </div>
            <% @categories_deals.each do |key, value| %>
                <div class="tab-pane" id="<%= key.id %>">
                  <ul class="thumbnails">
                    <% value.each do |d| %>
                        <li class="span2">
                          <div class="thumbnail">
                            <a href="/deals/<%= d.id %>"><img src="<%= d.image %>" alt="" title="" class="image_list"></a>

                            <div class="caption">
                              <h5><a href="/deals/<%= d.id %>"><%= truncate(d.title, :length => 15) %></a></h5>
                            </div>
                          </div>
                        </li>
                    <% end %>
                    <% if value.size == 15 %>
                        <li class="span10"><p class="pull-right"><a class="btn btn-primary btn-small" href="/categories/<%= key.id %>/deals">More Deals</a></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <div class="tab-pane" id="tab2">
              <p>2</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="span2">
    <!-- <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">
          Hot Products
        </li>
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Library</a>
        </li>
        ...
      </ul>
    </div>-->
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Hot Categories</li>
        <% @hot_categories.each do |c| %>
            <li><a href="/categories/<%= c.id %>/deals" title="<%= c.name %>"><%= truncate(c.name, :length => 18, :separator => ' ') %></a>
            </li>
        <% end %>
      </ul>
    </div>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Hot Stores</li>
        <% @hot_stores.each do |s| %>
            <li><a href="#" title="<%= s.name %>"><%= truncate(s.name, :length => 18, :separator => ' ') %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>