<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="/deals">All Deals</a> <span class="divider">></span>
      </li>
      <li>
        <a href="#"><%= @store.name %></a>&nbsp;Product<span class="divider">></span>
      </li>
      <li><a href="#"><%= @category.name %></a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">

  <div class="span3">
    <div class="imgbox">
      <img src="<%= @deal.image %>" alt="" title="" style="width: 200px;height: 200px;">
    </div>
  </div>
  <div class="span7">
    <h3><a href=""><%= @deal.title %></a></h3>

    <p></p>

    <p></p>

    <p><%= @deal.description_pure %></p>

    <p><a class="btn btn-primary btn-large" href="<%= @deal.location %>"><i class="icon-shopping-cart icon-white"></i> Go Deals &raquo;</a></p>
  </div>

  <div class="span2">
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">
          Hot Products
        </li>
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Library</a>
        </li>
        ...
      </ul>
    </div>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Hot Categories</li>
        <% @categories.each do |c| %>
            <li><a href="#" title="<%= c.name %>"><%= truncate(c.name, :length => 18, :separator => ' ') %></a></li>
        <% end %>
        <!--<li><a href="">+more</a></li>-->
      </ul>
    </div>
    <div class="well" style="padding: 8px 0;">
      <ul class="nav nav-list">
        <li class="nav-header">Hot Stores</li>
        <% @stores.each do |s| %>
            <li><a href="#" title="<%= s.name %>"><%= truncate(s.name, :length => 18, :separator => ' ') %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>