<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li>
        <a href="/deals">All Deals</a> <span class="divider">></span>
      </li>
      <li>
        <a href="/categories">&nbsp;Categories</a><span class="divider">></span>
      </li>
      <li>
        <a href="#"><%= @category.name %></a>&nbsp;Products
      </li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span2">
      <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
          <li class="nav-header">
            Hot Products
          </li>
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Library</a>
          </li>
          ...
        </ul>
      </div>
    </div>
  <div class="span10 top">
    <% @deals.each do |d| %>
        <div class="thumbnail" style="margin-bottom: 8px;">
          <dl class="dl-horizontal">
            <dt class="imgbox">
              <img src="<%= d.image %>" alt="" title="" class="image_list">
            </dt>
            <dd class="textbox">
              <h4><a href="/deals/<%= d.id %>"><%= truncate(d.title, :length => 60, :separator => ' ') %></a></h4>

              <p><%= truncate(d.description_pure, :length => 300, :separator => ' ') %></p>

              <p><a class="btn" href="<%= d.location %>" target="_blank">View details &raquo;</a></p>
            </dd>
          </dl>
        </div>
    <% end %>
    <%= will_paginate @deals, :class => 'digg_pagination pull-right' %>
  </div>
</div>